# Byte-compiled files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
*.egg

# Environment variables
.env
.venv/
venv/
ENV/
env/

# IDE files
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Coverage reports
.coverage
*.cover
coverage.xml
*.hypothesis/

# Temporary files
*~
*.bak
*.tmp
*.temp
